header.user {
  width: 30%;
  height: auto;
  background-color: rgb(182, 77, 182);
  background-image: url(/images/argyle.png);
  margin: 50px;
}

div.avatar > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  z-index: 5;
}

div.username {
  text-align: center;
  z-index: 6;
}

@media (max-width: 1023px) {
  header.user {
    width: 100%;
    height: 400px;
    margin: 0px;
  }
}

@media (max-width: 767px) {
  header.user {
    width: 60%;
    height: 200px;
    margin: auto;
  }
  div.avatar > img {
    width: 128px;
  }
  div.username {
    position: relative;
    top: -1.5em;
  }
}
