nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: rgb(236, 204, 129);
  height: 120px;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 5px dotted rgb(39, 106, 206);
  border-radius: 5px;
}

.compose-tweet {
  border: 5px dotted rgb(39, 106, 206);
  border-radius: 5px;
  background-color: rgb(236, 216, 172);
  font-family: 'Bungee', cursive;
  float: right;
  position: relative;
  bottom: -2.5em;
}

.compose-tweet:hover {
  background-color: rgb(168, 151, 115);
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  position: fixed;
  margin: 1.5em;
}