.new-tweet {
  margin: 2.5em;
  border: 5px dotted rgb(39, 106, 206);
  border-radius: 4px;
  background-color: rgb(255, 244, 219);
}

.new-tweet > h2 {
  position: relative;
  top: -35px;
}

label {
  display: block;
  width: 100%;
  margin-right: 1em;
  position: relative;
  top: -55px;
}

form > input {
  float: left;
}

textarea {
  width: 90%;
  height: 80px;
  position: relative;
  bottom: 2em;
  margin-left: 5%;
  background: transparent;
  border: transparent;
  border-bottom: 5px dotted rgb(39, 106, 206);
}

.italic {
  font-style: italic;
}

.tweetbutton {
  border: 5px dotted rgb(39, 106, 206);
  border-radius: 5px;
  background-color: rgb(236, 216, 172);
  font-family: 'Bungee', cursive;
  float: left;
  position: relative;
  bottom: 45px;
  left: 5px;
}

.tweetbutton:hover {
  background-color: rgb(168, 151, 115);
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
  position: relative;
  bottom: 35px;
  right: 5px;
}

.redtext {
  color: red;
}