.new-tweet {
  margin: 2.5em;
  border: 5px dotted rgb(39, 106, 206);
  border-radius: 4px;
  background-color: rgb(255, 244, 219);
}

.new-tweet > h2 {
  position: relative;
  top: -35px;
}

label {
  display: block;
  border-bottom: purple solid 10px;
  border-radius: 5px;
  float: left;
  width: 100%;
  margin-right: 1em;
}

form > input {
  float: left;
}

textarea {
  width: 80%;
  height: 80px;
}

.italic {
  font-style: italic;
}

.tweetbutton {
  border: 5px dotted rgb(39, 106, 206);
  border-radius: 5px;
  background-color: rgb(236, 216, 172);
  font-family: 'Bungee', cursive;
  float: left;
  position: relative;
  bottom: -30px;
}

.tweetbutton:hover {
  background-color: rgb(168, 151, 115);
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
  position: relative;
  bottom: -40px;
}

.redtext {
  color: red;
}